$duration: 0.3s;

@keyframes click {
  0% {
    color: rgba(black, 0.5);
    transform: scale(1);
  }
  50% {
    color: rgba(black, 0.85);
    transform: scale(1.1);
  }
  100% {
    color: rgba(black, 0.5);
    transform: scale(1);
  }
}

.click {
  animation: click $duration;
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scaleIn {
  animation: scaleIn $duration;
}

@keyframes scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.scaleOut {
  animation: scaleOut $duration;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn $duration;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut $duration;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation: fadeInUp $duration;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    color: lime;
    transform: translate3d(0, -50%, 0);
  }
}

.fadeOutUp {
  animation: fadeOutUp $duration;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -40%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation: fadeInDown $duration;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    color: red;
    transform: translate3d(0, 50%, 0);
  }
}

.fadeOutDown {
  animation: fadeOutDown $duration;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation: fadeInLeft $duration;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation: fadeOutLeft $duration;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation: fadeInRight $duration;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation: fadeOutRight $duration;
}
